.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pokemon-card {
  margin-bottom: 15px;
  border: 2px solid #000;
  width: 20%;
  background-color: yellow;
}

.ver-button {
  background-color: #2A6EB7;
  border-color: #2A6EB7;
  font-size: 20px;
  color: white;
}

.pokemon-image {
  height: 300px;
  object-fit: cover;
  border: 5px solid red;
}

.pokemon-name{
  font-size: 25px;
  font-family: 'Times New Roman';
}